[2018-04-14 08:07] yodurr opened #2 "Move common script into base classes"
Would be cool to have a dev.ps1 that provides common dev script commands, then the scenario specific scripts can just have the particular tool differences.

One of the challenges is including other ps1 scripts is hard when your starting point is clicking a web link that kicks off boxstarter.  The ability to make install 1-click and not require cloning this repo seems more important than the abilit

[2018-04-14 08:07] yodurr opened #3 "Script Addtion: ML"

[2018-04-14 08:07] yodurr opened #4 "Script Addtion: iOT"

[2018-04-14 08:08] yodurr opened #5 "Add a script that includes install of Linux distro for WSL"

[2018-04-14 08:10] yodurr opened #6 "Auto creation of 1-click links in Readme"
The Readme should contain links to every script that you can click to trigger install.
Doing this requires a job that updates the links every time the hash for them changes - the link will include the link to the raw script content.

Could we use appveyor to update the script links in the readme after every commit?

[2018-04-14 08:12] yodurr opened #7 "Add instructions for Organizational Users of Chocolatey"
Enterprise Chocolatey users will want instructions on how to use these scripts but pull content from their internal package store

[2018-04-14 08:17] yodurr opened #8 "Export scripts to Powershell gallery"

[2018-04-14 08:58] yodurr opened #9 "Need legal terms of service, limited liability"
We need to make it clear Microsoft does not own the actual Chocolatey packages.  This project is use at your own risk - we can't guarantee the reliability/security/safety of using Boxstarter and Chocolatey.

That said, Chocolatey does a lot to protect users and should point the community to that info.  Also Chocolatey offers an Enterprise product which we should refer interested people to.

[2018-04-23 07:51] gep13 opened #11 "Missing -y on some installations"
In this script:

https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/master/dev_web.ps1

in a few places, the `-y` parameter isn't being used.  Is this deliberate?

For example:

https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/be65812f9d5dafe975ab0ecff720407907d31286/dev_web.ps1#L20

[2018-04-23 07:55] gep13 opened #12 "Node LTS"
I think it might be worth providing an alternative package installation in this script:

https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/master/dev_web_nodejs.ps1

i.e. it should also point out this package:

https://chocolatey.org/packages/nodejs-lts

Which should point to the latest long term supported version of Node, rather than the latest and greatest version.

[2018-04-23 21:55] #5 closed, assigned to tara-raj

[2018-04-25 05:55] ferventcoder opened #14 "Curious if -y is required here"
https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/7393a07208fefc5f3d1f645764f42d7607ef8597/dev_app.ps1#L22

[2018-04-25 06:07] ferventcoder opened #15 "Passing parameters to choco best practices"
https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/7393a07208fefc5f3d1f645764f42d7607ef8597/dev_web.ps1#L24

* For short or blended options like `-y` as compared to `--confirm` (the long option), use one dash (`-`). For long options, use two dashes (`--` as in `--confirm`). Blended options are short options combined into one statement, like `-y -d -v` put together as `-ydv`.
* Always

[2018-04-25 06:09] #14 closed, assigned to nobody

[2018-04-25 17:26] joaocgreis opened #17 "ubuntu.font fails to install"
`ubuntu.font` prints a warning about empty checksums and asks the user if it should ignore and continue installing, defaulting to no after 30 seconds and failing. But even if the user accepts and continues, the installation fails.

Do we really need this package? Can it be removed or should we find a solution?

<details>
<summary>ubuntu.font installation log</summary>

[code]

</details><br>

`eas

[2018-04-26 11:46] #12 closed, assigned to joaocgreis, bzoz

[2018-05-01 12:10] gep13 opened #18 "Detect if running on Windows 10"
Just thinking about this:

https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/bcaad0c2f29f29369b77c41ada0d9a6db1e3beab/dev_app.ps1#L17

It might be a good idea to detect whether this script is running on a Windows 10 machine, otherwise this is going to fail.

An example of OS detection can be seen in the Chocolatey Script for PowerShell here:

https://chocolatey.org/packages/PowerShel

[2018-05-01 12:12] gep13 opened #19 "Difference in way WSL is installed"
In one script, this is being used:

https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/bcaad0c2f29f29369b77c41ada0d9a6db1e3beab/dev_web.ps1#L26

And in another, it is done this way:

https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/master/dev_app.ps1#L17

Is there a difference?  Is one better than the other from a WSL point of view?  Should they be consistent?

[2018-05-01 16:27] yodurr opened #22 "Add setup steps using Quick Create in Hyper-V"
A common scenario is spinning up a VM to try out a dev stack.  Let's provide guidance using Quick Create.

[2018-05-01 17:30] tara-raj opened #23 "Add WSL Installation steps for Debian and Kali"
Create additional installation steps for Debian and Kali. Need appx link from their Store developer account

[2018-05-02 08:05] #11 closed, assigned to nobody

[2018-05-06 17:36] #3 closed, assigned to nobody

[2018-05-06 20:23] #19 closed, assigned to nobody

[2018-05-08 18:05] pascalberger opened #29 "Don't install GCM separately"
Is there a specific reason why GCM is installed separately here:

https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/master/dev_web.ps1#L19

I think it should already be installed through Git for Windows

[2018-05-08 19:09] kelps opened #30 "Make is possible to install apps from the Store"
There should be a way to improve the scripts to make it possible to install apps directly from the Store. Example: when I repave my dev machines, i install some apps like "Open Live Writer", Paint.NET, Spotify, some Edge extensions e a few other Store apps I use regularly.

It looks like the current scripts already install some appx files that supposedly come from the store, but the process it use

[2018-05-08 22:49] yodurr commented on #30
Love this feedback, thank you.

[2018-05-08 22:50] yodurr commented on #9
done

[2018-05-08 22:50] #9 closed

[2018-05-08 22:50] #7 closed

[2018-05-09 07:41] amankkg commented on #6
I wonder how executable is being generated from PS scripts? Maybe it's worth adding a section in readme?

[2018-05-09 12:13] ddieppa opened #31 "Document use of one click with Google Chome, etc (Application cannot be started. Contact the application vendor Error)"
I was trying to use the **_Web (VS Code, WSL, Multiple Browsers)_**, and I got this error:
[code]

this is my Windows 10 version

![image](https://user-images.githubusercontent.com/10607192/39813351-169336c0-535e-11e8-9b1a-66af45eb8add.png)

And this is my Hyper-V version

![image](https://user-images.githubusercontent.com/10607192/39813375-3768296e-535e-11e8-91e3-b184ee1f0f17.png)

Any Ideas?

[2018-05-09 12:25] ddieppa commented on #31
I realize that if I click on the script from **IE** it works, not if you try to do it from **Chrome**.

[2018-05-09 12:27] gep13 commented on #31
@ddieppa ah, that is a good point.  Perhaps we need to add a mention of that in the readme.  There are some extensions that used to allow ClickOnce to work in Chrome, but I haven't played with any of them recently.

[2018-05-09 12:41] ddieppa commented on #31
@gep13 yes, I think to add that part to the readme will be a quick solution to this. Anyways, there is no other solution that can be accomplish within the same boxstarter script?

[2018-05-09 12:57] DarthSpock commented on #18
A simple `if` statement should suffice in which you run `winver` and if it's below 14393, it ignores the install step and if => proceed to install.

[2018-05-09 13:07] gep13 commented on #31
No, not within the Boxstarter Script itself.  This error is occurring before the script is invoked, so there is nothing that can be done from a Boxstarter side of things.

[2018-05-09 13:14] DarthSpock opened #32 "Add script to automatically side-load distros for WSL"
Aside from the user downloading the required tar.gz file and renaming to install.tar.gz (which could also be part of the automation process), there should be a way to automate the https://github.com/Microsoft/WSL-distrolauncher process so we can side-load distros not currently in the Store without going through the build process itself (a time-consuming effort). I would recommend pulling the Docke

[2018-05-09 13:43] DarthSpock opened #33 "Add common dev tools automatically upon install of WSL distro"
Instead of having to manually download packages commonly used by developers every time you install/reinstall a distro for WSL (and thus being forced to create your own scripts), we should add this to the dev-box-setup experience. For instance for the web development we could use `wsl.exe apt install build-essentials npm` `wsl.exe npm install node`, etc. Noting of course `wsl.exe` will launch the d

[2018-05-09 18:42] bcurran3 commented on #18
Along those lines...

`choco install -y Microsoft-Hyper-V-All -source windowsFeatures`

...needs checking too:

The Hyper-V role is only available in the x64 variants of Windows Server 2008, Windows Server 2008 R2 Standard, Enterprise or Datacenter edition, Windows Server 2012 Standard or Datacenter edition, Windows 8 (or 8.1) Pro or Enterprise edition, or Windows 10 Pro, Education or Enterprise e

[2018-05-09 18:57] DarthSpock commented on #18
WSL is only available in x64 variants of Server 2016+ and Win 10 build 14393 as well. Nice catch. Guess that hypothetical simple if statement got alittle bigger since it would also need to check which arch it's running in.

[2018-05-10 01:08] ferventcoder commented on #18
If only there was a package manager that could handle this 😄

[2018-05-10 05:31] centur opened #35 "Build a script that can scan and recognise known software and features on existing machines."
It would be great if we can "reverse" our existing dev boxes into such scripts. It would tremendously speed up adoption of setup scripts. Every developer usually has his own setup already and task to writing your own script from scratch can be quite significant.
It looks reasonable to start with some revered script - searching over files and installed apps on existing machine and then generate cor

[2018-05-10 18:15] yodurr commented on #33
I agree - we're discussing how best to do this as the user creation step in the distro is currently in the way.  Changing behavior to creating a default user with blank password may be the best path forward.

[2018-05-10 18:19] yodurr commented on #29
The reason is it's been the current practice in other examples.

[2018-05-10 18:25] ferventcoder commented on #35
I'd like to see if we can make your request specific to something that we can do here in the dev box setup scripts and available for open source, so let's explore that instead here.

How about if we could create a script here that could look at packages you already have installed and generate a boxstarter script?

[2018-05-10 18:39] DarthSpock commented on #33
https://github.com/Microsoft/WSL-distrolauncher has what you need in that regard, but how that would work for distros installed from the Store is a different story since that's controlled by the distro maintainer. Perhaps we could automate the user creation process with a password of something like password, make the changes, and removing the account, thus causing a prompt for username to appear.

[2018-05-10 18:51] DarthSpock commented on #30
So in Windows proper we do have this Powershell command (The example comes from https://docs.microsoft.com/en-us/windows/wsl/install-on-server):

`Invoke-WebRequest -Uri https://aka.ms/wsl-ubuntu-1604 -OutFile ~/Ubuntu.zip -UseBasicParsing`

We also have `curl` and `tar` available in Windows now. Don't see `tar` being very useful other than for Linux distros (or any tar files that somehow make it

[2018-05-10 18:56] DarthSpock commented on #23
Any updates to this? I imagine completing this issue will also allow update of https://docs.microsoft.com/en-us/windows/wsl/install-on-server as well.

[2018-05-10 19:02] yodurr commented on #6
I see - more details on how boxstarter works?  We can add this to the readme, does that address your questions?
https://boxstarter.org/Learn/WebLauncher

[2018-05-10 20:28] kelps commented on #30
@DarthSpock this doesn't address the issue I presented. This command is simply downloading something from somewhere. I want to install something from the Store, preferably using official Store APIs in my computer.

The .ps1 scripts here use this to download the .appx file from somewhere and then sideload them. My concerns with this are twofold:

1. The .appx download origin is not the Store (maybe

[2018-05-10 20:33] amankkg commented on #6
Ah, yes, I see now

[2018-05-10 20:43] kelps commented on #30
Reading some documentation while replying to @DarthSpock's comment, I found a few articles using a combination of `Get-AppxPackage` + `Add-AppxPackage` to reinstall apps the current user removed or that got "lost" in some Insiders update. It got me thinking:

If I use ´Get-AppxPackage` on my machine before repaving it to get and save the manifest files for the apps I will want to get back after th

[2018-05-10 21:57] JanMulkens opened #36 "Please don't force reinstall"
When trying to combine scripts (for example: Machine Learning / Web), software gets forcefully reinstalled.
This seems like a waste of time and bandwith if the version is matching the one you currently have.

Is it possible to not do this or is there a specific reason why this is being done?

[2018-05-10 22:00] JanMulkens opened #37 "Include samples with the installed software"
It would be lovely to have samples included (or have them in a separate script to install) for each of the different scripts.
This would open these scripts to not only experienced developers wanting to save time, but potentially also to unexperienced people wanting to try something out and needing that little bit of extra guidance.

[2018-05-10 23:46] centur commented on #35
@ferventcoder I understand that there is an interest to drive users to software subscription model which I can accept if an app is extensively using \ depending on API that is hosted\maintained (and can't justify in many other cases), but this idea to reverse your existing box into a partial script - this is an entry barrier to get into using Chocolatey or any other modern packaging system.

Scrip

[2018-05-11 02:06] DarthSpock commented on #30
So the https://aka.ms/wsl-ubuntu-1604 is from the Store but automatically provides the option to install the appx without the need to go through the Store to get it. As far as getting updates goes, well if you're in a corporate network, you probably won't get them if you don't have Store access. Which makes standalone appx for different apps extremely useful. In larger organizations, there is typi

[2018-05-11 07:46] gep13 commented on #30
@kelps can you perhaps to the documentation that you were looking at?  Thanks!

[2018-05-11 07:49] gep13 commented on #37
@JanMulkens sorry, but I am not sure if I follow what you are suggesting here.  Can you elaborate?

[2018-05-11 07:50] gep13 commented on #36
@JanMulkens can you confirm if you are seeing this problem when you try to run the script twice?  Or are you seeing this when using the script for the first time?

[2018-05-11 07:51] gep13 commented on #6
@amankkg would you like to create a PR to provide some additional information around this in the readme.md?

[2018-05-11 08:01] pascalberger commented on #29
@gep13 It is installed with default package parameters. You need to pass `/NoCredentialManager` to disable it.

I'll create a PR for removing this step in all packages

[2018-05-11 08:06] gep13 commented on #29
@pascalberger perfect, thank you!

[2018-05-11 14:40] gep13 commented on #30
@kelps thanks for providing those links, appreciate it!

[2018-05-11 14:42] kelps commented on #30
@DarthSpock Yep, I understand and agree this is a valid approach, but catering only to big companies isn't how things should work anymore. Specially in the dev circles, we have more and more hobbyists, remote workers and BYOD friendly companies.
What I am asking here (hoping actually) is for someone from Microsoft to acknowledge and address (or at least start the process of addressing) the need fo

[2018-05-11 14:54] DarthSpock commented on #30
Yes, I think this project needs to address both scenarios. Those who can use the Store and those can't. I'm still looking forward to the day when we can honestly get all dev work done using a combo of WSL and Windows but unfortunately the dev community targetted doesn't include anything GUI or hardware related if it's for Linux, which is a shame in my mind. If they could get AMD/NVIDIA/Intel onto

[2018-05-11 17:29] mwrock commented on #36
This is actually a known choco/boxstarter bug. Boxstarter reverted the choco library that intoduced this bug but that fix was not deployed to the latest click once app. We are planning a new click once deployment next week that should remove this problem.

[2018-05-11 17:29] #36 closed

[2018-05-12 08:39] majkinetor opened #39 "You don't cinst pip"
Because pip comes with python.

[2018-05-12 21:00] gep13 commented on #39
@majkinetor do you know if this is true of all versions of Python, or only the latest version?

[2018-05-13 09:29] gep13 commented on #39
@majkinetor I have just done a quick test, and it looks like when doing `choco install python2` the pip.exe is available in the scripts folder.  It isn't directly accessible from the command line.  I am not a Python developer, so I don't know if this is expected or not.  Should the python package create a shim for the pip.exe?

I can take an action to speak with @ferventcoder about deprecating the

[2018-05-13 09:32] gep13 commented on #39
I have removed the `choco install pip` commands.

[2018-05-13 09:32] #39 closed

[2018-05-13 09:36] majkinetor commented on #39
Give us a ticket at coreteam-repo for this as everybody expectes pip to just work.

[2018-05-13 09:38] gep13 commented on #39
Sounds like a plan! 👍

[2018-05-13 09:41] gep13 commented on #39
Issue created here: https://github.com/chocolatey/chocolatey-coreteampackages/issues/1032

[2018-05-13 09:58] bcurran3 commented on #35
Point me to an example boxstarter script and I can easily strip down https://chocolatey.org/packages/choco-package-list-backup for this.

[2018-05-13 19:44] gep13 opened #40 "Should we add this to the readme?"
@yodurr @ferventcoder @mwrock what are your thoughts on this:

https://github.com/fireeye/flare-vm

I thought it might be useful to call this out as another example of how to set up a machine.

[2018-05-13 20:00] mwrock commented on #40
Is the motivation to show how to invoke a boxstarter script via script:

[code]
instead of the click once launcher?

I think that's a good idea. Especially to get around non IE/Edge browser issues or needing a scripted install.

[2018-05-13 20:17] gep13 commented on #40
I was thinking more around showing another example of setting up another VM for a specific purpose, in this case for malware analysis and investigation.  The installation issue with non IE/Edge browsers we definitely need to capture though, and provide information about how to run the installation without click once.

[2018-05-13 21:42] ferventcoder commented on #35
@centur Apologies if you misunderstood what I wrote above. I mentioned that this is an existing feature of our commercial editions and then said let's find something we can do for open source. Let me be clear - we are not interested in driving you to commercial editions - that is a decision you'd need to make on your own because the features hold enough value for you to pay for them. You will find

[2018-05-13 21:43] ferventcoder commented on #35
That said, here's a starter for getting everything on your box into one list you can then start to put that into a boxstarter script:

[code]

[2018-05-14 15:36] nunix opened #41 "Drivers management part of the automation process"
First of all, thanks a lot for this great automation tool. I used the "Web" default package and just had to relax and wait for the install.

However, as I have a new computer from work to act as a "Innovation sandbox" (read: out of domain and no corporate support), it triggered a doubt/need for enhancement:
Could this tool be used to manage also the drivers? I know there's business tools and/or pr

[2018-05-14 20:26] nunix commented on #41
@gep13 thanks a lot for the feedback and in "my current" case, it's really only to configure the drivers of a laptop.

So it would be something indeed based on your `geforce` example.

I will deep dive into the script in the coming days/weeks and if I find a way I will share it for sure.

Thanks again for the feedback.

PS: this issue can be closed for now then 😁

[2018-05-14 21:33] gep13 commented on #41
@nunix perfect.  Let us know if you have any follow up questions.

[2018-05-14 21:33] #41 closed

[2018-05-15 19:51] kelps commented on #30
I am almost sure I had already added this feedback using the Feedback Hub app a long time ago (certainly more than a year).

I didn't find it, so I created a new one in the following link. Upvotes are appreciated. [Provide a way (scripting api/commands) for users to install/remove Store apps via command-line scripts](https://aka.ms/AA1ajjk)

[2018-05-15 20:02] kelps commented on #30
@DarthSpock I think the apis should allow installing apps directly from the Store, no matter what kind of app it is, so not only WSL or a specific kind/category. It should behave with the same restrictions you would get when using the Store app, so if an app is blocked by a policy or unavailable to the user, it also would be blocked via scripts. Any powershell commands created for this should use

[2018-05-15 20:09] yodurr commented on #32
Sounds like a useful addition.  Please feel free to try it and submit a PR and I expect we'll take it in.  I expect a new script which is one of the base web dev scripts + "customdistro" for this would work well but whatever seems best to the group.

[2018-05-15 22:39] DarthSpock commented on #30
@kelps Nothing you said is opposite of what I was saying. I'm in full agreement, there should be APIs for installing from the store. But if those APIs require connectivity to the Store itself, it will most likely be blocked on most corporate networks. But it also might be an easier sell to corporations to allow API connectivity for command-line only access vice giving users Store access (not to me

[2018-05-15 22:44] DarthSpock commented on #30
Also a note to bear in mind for future: there is a initiative to make apps cross-platform that would be hosted in the Store. In essence, a one and done for developers who have to target multiple platforms. This is still early in it's infancy but eventually this project will need to address those APIs for connection to other platforms besides Windows.

[2018-05-15 22:51] DarthSpock commented on #30
To add to that, if the app not owned is a free app or has a free trial, that will need to be addressed as well. I'm also seeing a logistic and security issue here. If in a corporate environment, the developer won't have authorization to purchase an app from the Store. It would have to go through their finance and security first. A mechanism will need to exist to ensure that unauthorized apps aren'

[2018-05-15 23:01] bitcrazed commented on #30
@kelps: I'd suggest creating & sharing a new feedback item using the same text, but targeting the "Microsoft Store" | "Installing Apps" categories. This isn't really about payment per se (though that will have to be part of the equation for any solution).

![image](https://user-images.githubusercontent.com/961950/40087806-0db33d84-5859-11e8-92e1-809193e22bee.png)

[2018-05-16 10:49] kelps commented on #30
@bitcrazed Ohhhh, That was the intent. I must've slipped or scrolled to another sub category without noticing. Thanks for pointing it out. I just created a new feedback in the correct sub-category. I'll post the link here as soon as it shows up in the "My Feedback" tab.

[2018-05-16 10:57] kelps commented on #30
@DarthSpock I agree with all you said. If it sounded like I was disagreeing, I apologize.

[2018-05-16 13:05] DarthSpock commented on #32
Yeah I may be able to build a distro manually following the instructions on the page but I've never created an automation script for something like this. Is there a "help wanted?" label? I've noticed some open-source projects use it so you may want to create one.

[2018-05-17 15:50] RobCannon commented on #30
@DarthSpock I am very interested in that, but that won't be viable until the next release of Windows 10 for support of the .MSIX format.

[2018-05-17 16:59] DarthSpock commented on #30
True, it would only help those on the latest Win 10 but does have the potential for resolving this issue at least for that build and up and of course recommend upgrading to that build. But yes, we'll need something else in the mean-time to support earlier versions of Win 10 along with 7 and 8.1.

[2018-05-19 18:39] yodurr commented on #6
We don't need to re-generate the links now that this repo is public.  Closing this issue.  I'll add a readme entry with the WebLauncher link.

[2018-05-19 18:39] #6 closed

[2018-05-20 05:47] yodurr commented on #37
I think he's asking for sample projects to go along with the tools.  This would be cool for scripts designed to give you an intro into an area.

I could see having a folder for each area and in that alongside the base setup scripts, include one that fetches samples.  Or we could have them in the scripts commented out.

[2018-05-22 23:45] crutkas opened #43 "first time trying to launch, you need to double launch"
this may be a boxstarter issue but when launching the script and it isn't installed already, you have to actually relaunch after boxstarter has installed versus having it accept the data passed in and continue to execute

[2018-05-22 23:46] crutkas opened #44 "Unclear how to clone a github repository"
Trying to clone one of our official repositories.  It feels like we should be able to do this.  Is the correct way to do this via powershell?

[2018-05-22 23:47] crutkas opened #45 "How to install the most up-to-date VSIX"
https://chocolatey.org/docs/helpers-install-chocolatey-vsix-package makes it seem like you can do it but if you get a URL from marketplace, it provides an version locked URL

[2018-05-23 22:38] crutkas commented on #44
Install git tools, refresh env then do the clone.

[2018-05-23 22:38] #44 closed

[2018-05-23 22:39] crutkas commented on #37
doing this as part of the desktop script.  I'm installing git samples off of https://github.com/Microsoft/Windows-universal-samples to the desktop

[2018-05-24 07:27] gep13 commented on #44
@crutkas as you have found out, the issue here is that after installation of some tools, the commands associated with those tools are not available in the current command/powershell window until you refresh.  This is normally due to the fact that a change to the system PATH variable has been made, which isn't available in the current command/powershell window.

There are two solutions to this.  Fi

[2018-05-24 09:11] JanMulkens commented on #37
@gep13 , is this clear enough or do you still need me to elaborate?

[2018-05-24 09:54] gep13 commented on #37
@JanMulkens assuming that @yodurr and @crutkas have your intention correct, then I think we are good 👍

[2018-06-01 09:39] yodurr commented on #43
Confirmed am seeing this as well now on Windows 1803.  This is new behavior.

The good thing is it seems like it actually works now and whatever was causing https://github.com/chocolatey/boxstarter/issues/301
might be resolved.

[2018-06-01 09:44] yodurr commented on #33
We're talking to the distro maintainers about enabling installation with a default user w/blank password.  That seems like the best outcome for scripted install.

[2018-06-01 12:53] DarthSpock commented on #33
Would such a script then be portable enough to work for non-partner distros? For example, the script may work great for Ubuntu but would users be able to follow the same script for Arch Linux with the only very noticeable change being the name of the installation from saying "Ubuntu" to "Arch Linux" (via UI prompt)?

[2018-06-01 17:36] yodurr commented on #33
I believe so because we'd show how to do it in the distro launcher project.  it would be up to the distro to support it.

[2018-06-01 17:46] DarthSpock commented on #33
That should be enough in theory. Just trying co-relate the other issue I made for automating installation of side-loaded distros. The user creation script sounds directly tied to that effort. The script will eventually need to be tied in for automation but with the current install mechnism, documentating it would be sufficient.

[2018-06-01 17:48] yodurr commented on #33
we'll make sure to document it.
@tara-raj FYI

[2018-06-05 16:06] molant opened #46 "Improvement to dev_web and dev_web_nodejs"
I'm going to work on improving the `dev_web` and `dev_web_nodejs` scripts. These are some of the ideas:

* [ ] Use `nvm` installed (not node.exe), with LTE and Latest Node Versions installed
* [ ] There is also an issue with the git VS Code wants to use not matching up with WSL git, so I’ve always bootstrapped this by using [WSLGIT](https://github.com/andy-5/wslgit) and pointing git in vscode towa

[2018-06-06 14:52] vendoran commented on #22
Some Vagrant boxes are downloadable here - https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2018-06-06 18:12] yodurr commented on #46
Thanks Anton!  We're investigating enabling installing tools inside WSL.  Need to first enable auto creation of the user rather than the current prompting.  After that adding WSL install commands can happen and I agree will be very useful for these scripts.

[2018-06-07 03:47] molant commented on #46
PR for VS Code extensions done (#48)

[2018-06-08 16:53] crutkas commented on #2
Tried doing an PS invoke to another PS file on my github that was refactored out but got the error below:
`invoke-expression -Command https://raw.githubusercontent.com/crutkas/windows-dev-box-setup-scripts/master/helper_WindowsExplorerSettings.ps1
`

[2018-06-11 09:51] crutkas commented on #45
Did this with WTS for dev app in last check in

[2018-06-11 09:51] #45 closed

[2018-06-11 09:53] crutkas commented on #2
I have a branch that does this now

What I think as part of this would be see if we can’t pass in Args too so we can have one master and then the subpages just call the master with overrides via args.

[2018-06-11 09:54] crutkas commented on #2
https://github.com/Microsoft/windows-dev-box-setup-scripts/tree/BreakUpScripts?files=1

[2018-06-13 10:48] crutkas commented on #43
tested on new VM and has been resolved on boxstarter end

[2018-06-13 10:48] #43 closed

[2018-06-13 11:30] gep13 commented on #43
tested on new VM and has been resolved on boxstarter end

I am fairly sure that we haven't changed anything, or rather, I haven't done anything, and I was the one who pushed out the latest release of Boxstarter.  I don't think @mwrock or @ferventcoder have made any changes either.

I am happy to hear that this is now working, but I would like to know what, if anything, has changed.

@yodurr is thi

[2018-06-13 14:55] crutkas opened #52 "parallel out processes that can be"
There are a number of items that could be processed in parallel such as some of the settings and uninstalling of applications

https://blogs.technet.microsoft.com/uktechnet/2016/06/20/parallel-processing-with-powershell/

[2018-06-16 20:30] mjwsteenbergen opened #53 "Explain changes made to the registry"
When I am looking at [dev_app.ps1](https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/master/dev_app.ps1) I don't know what all of the following settings actually do:

[code]

It would be great to see what all of these do, like jay harris [did in his dotfiles for windows](https://github.com/jayharris/dotfiles-windows/blob/master/windows.ps1#L157).

[2018-06-17 11:01] crutkas commented on #53
great idea, i started trying to do that on some stuff but yes, would be useful if we did it everywhere for stuff that wasn't straight forward.

[2018-06-17 15:20] crutkas commented on #53
@mjwsteenbergen i have this checked into a branch, won't close until it is in master

[2018-06-18 19:47] yodurr commented on #2
Woot!  This will be a big help.  Can't wait to make this the new normal.

[2018-06-18 20:19] crutkas commented on #2
think this can be tested now.  once the devapp.ps1 you're happy with, we can either

- work on the calling URL so we don't have to alter / include URL and branch
- work on proper enums vs calling scripts directly
- port others over (then do top 2)

[2018-06-19 17:04] kelps commented on #30
To me, it looks like MSIX is tool mainly for enterprises and software vendors/developers. It doesn't look like it'll help people that simply want to script the installation of software from the Microsoft Store on Windows 10+.

I'm not saying MSIX is bad. It is a HUGE step forward for software on Windows and I can't wait for vendors to start making their app installers available in this format, as

[2018-06-19 23:05] bitcrazed commented on #30
@kelps: Thanks for the feedback and suggestions.

Alas, the point of these scripts is to automate the setup of a newly-installed/re-paved dev box.

Since Windows Store doesn't yet provide an app installation automation mechanism, automating the installation of store apps is sub-optimal at best, and breaks our automation goals at best :(

However, we do continue to discuss with the store team. Hopi

[2018-07-03 13:54] kelps commented on #30
I just created a repo to store my repave related scripts [repave-scripts](https://github.com/kelps/repave-scripts). There I have the script I am currently using when I repave my PCs. I was storing those scripts in my OneDrive account, but I figured that having them in source control is a better solution. The code I mentioned above is there, if anyone is curious.

I used that script recently to rep

[2018-07-03 17:54] bitcrazed commented on #30
Hey @Kelps. Thanks for sharing. A few notes:

1. If you were to rename your script to *.ps1, you wouldn't need to invoke PowerShell at the start
1. I recommend you begin and end your script by disabling and re-enabling UAC, etc.
1. Another benefit of moving to PowerShell is that you can explicitly modify your registry settings via `HKLM:...` or `HKCU:` registry mounts, further reducing your file c

[2018-07-10 00:45] thedonquixotic opened #58 "Hey the Ubuntu WSL link in the scripts is outdated."
Link is for 16.04 but not for 18.04 which from what I can tell is only available through third party links or the Windows Store.

I haven't tried this yet but I believe this powershell script should work.

[code]

[2018-07-10 00:47] thedonquixotic commented on #46
Would it be possible to create a separate bash script that gets executed after creation of the Unix User by hand? Just curious. I'm going to try that I think.

[2018-07-10 14:23] RobCannon commented on #46
Here is the bash script that I use.  The only hiccup is that the oh-my-zsh install is not a silent install.

https://github.com/RobCannon/boxstarter/blob/master/boxstarter.sh

There is also an example of keeping some Linux configurations in my OneDrive folder.  That means I can delete my Ubuntu installation and rebuild it in about 20 minutes.

[2018-07-10 22:09] thedonquixotic commented on #46
@RobCannon Nice! Also this is great because I was meaning to give zsh and Oh-my-zsh another try so this is a great!

also @molant Another idea would be to have Vscode install the [[Sync Settings]](https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync) extension which could then auto install and configure extensions for the user if provided with a github access token and a gis

[2018-07-11 14:47] RobCannon commented on #46
I tried using Sync Settings, but I had trouble automating the configuration.  Just putting the settings folder into OneDrive has been much simpler and it means one less extension to load!

[2018-07-12 06:08] thedonquixotic commented on #46
Ah yeah... I just realized that the extension list that sync settings outputs to the gist isn't made by sync settings, it's made and used by VScode isn't it? So should be syncable just like user settings. Nice. I'll have to try that.

I spent this past weekend getting my old desktop machine converted into a personal Linux cloud server so instead of hopping along with my very patch work dropbox con

[2018-07-16 17:29] yodurr commented on #58
not all the store distros work from command line install.  Makes sense to enable ubuntu 18 if it isn't already enabled.  @tara-raj

[2018-07-16 22:52] thedonquixotic commented on #58
It's enabled but I was not able to find a way to install from CLI, had to do it manually in the store which was no big deal.

[2018-07-24 21:50] thedonquixotic commented on #58
Excellent thanks. I'll close.

[2018-07-24 21:50] #58 closed

[2018-07-26 20:59] yodurr commented on #17
I've removed the Ubuntu fonts in the scripts (in PR #59)

[2018-07-26 20:59] #17 closed

[2018-07-26 21:00] yodurr commented on #2
PR #59 created

[2018-07-26 21:01] yodurr commented on #53
part of PR #59

[2018-07-26 22:02] yodurr opened #60 "Need to reboot after installing WSL"
Noticed we're not rebooting during script run, so the user has to reboot manually before they can run WSL.

[2018-07-27 22:07] yodurr commented on #60
and if we reboot we need to prompt for password at the start of the script run...

[2018-08-02 22:13] yodurr commented on #2
done.

[2018-08-02 22:13] #2 closed

[2018-08-02 22:16] yodurr commented on #37
this is now in master for app dev.  We're discussing if there are other ways to support this in a general way - perhaps have a switch for "include samples", etc.  Welcome feedback on this.

[2018-08-02 22:16] #37 closed

[2018-08-04 12:34] kelps commented on #30
Thanks for the tips @bitcrazed.

1- I know I could use .ps1 files for this instead of .bat, but I prefer the simplicity of being able to double click it to run. This was a conscious decision, but I might change it to a .ps1 file and have the .bat simply invoke PowerShell to run it.
2- I'll look into it. Do any of the scripts here have the code for disabling and enabling UAC? Is it doable from .bat

[2018-08-21 19:27] ddieppa commented on #46
Why not put VSCode extensions as a separate script? that way each developers has the ability to add or remove there daily basis extensions, could be a lot of extensions, could apply the same for Visual Studio workloads

[2018-08-21 19:32] ddieppa opened #64 "Update Ubuntu distro to the latest, now it is 1804"
Based on this article [Manually download WSL distro packages](https://docs.microsoft.com/en-us/windows/wsl/install-manual), I think will be fine just to change the version number in the **Ubuntu** section on the [VirtualizationTools.ps1](https://github.com/Microsoft/windows-dev-box-setup-scripts/blob/master/scripts/VirtualizationTools.ps1) script

[2018-08-23 14:52] yodurr commented on #64
Agreed.  Hoping to get this in before the weekend.

[2018-08-23 15:12] ddieppa commented on #64
It should be an easy change that I can help with, but I don't know how to test the entire thing and go throw the process or create a pull request, etc :(

[2018-08-23 15:16] yodurr commented on #64
Yeah it's not complicated.  Thanks for the note - I will add contribution steps to the readme to outline how to contribute.

[2018-08-24 23:00] yodurr commented on #60
@mwrock for the reboot to work we need to cache the password right but we're currently running with the NoRestart flag probably because we never prompt for the password.  How do we get a click-once based launch to also leverage restart and request the password?

[2018-08-25 02:03] mwrock commented on #60
You just need to remove the `/nr` from the URL. Then the app should prompt and reboot if necessary.

[2018-08-27 21:56] yodurr commented on #60
thanks.  what if the user has a blank password?  It looks like boxstarter doesn't like that answer in the password prompt.  Known issue?

[2018-08-28 01:37] mwrock commented on #60
not a known issue afaik but likely an issue that needs to be raised.

[2018-08-28 18:19] yodurr commented on #60
Ok, we'll get the URI fixed here and submit a separate issue on boxstarter for blank password.  Thanks.

[2018-08-28 19:54] yodurr commented on #64
Addressed in commit #66

[2018-08-28 19:54] #64 closed

[2018-08-28 19:54] yodurr commented on #60
Addressed in commit #66

[2018-08-28 19:54] #60 closed

[2018-08-28 21:44] mscraigloewen commented on #52
From what I can see the uninstalling of applications is already happening asynchronously.

What settings or other options were you thinking of parallelizing?

[2018-08-29 04:44] yodurr commented on #33
Check out #68
It's coming :)

[2018-08-30 06:34] yodurr commented on #33
Done!

[2018-08-30 06:34] #33 closed

[2018-09-11 21:54] yodurr commented on #31
Am adding a comment about this in the Readme's known issues

[2018-09-11 21:54] #31 closed

[2018-09-28 23:08] crutkas opened #71 "Boxstarter autoprompt with account with no password doesn't allow click"
Tracking issue. https://github.com/chocolatey/boxstarter/issues/348

not sure if we care to track it but something i realized when i had a VM to test the desktop workloads

[2018-10-14 20:12] gep13 commented on #22
I have found that @stefanscherer vagrant boxes to be very useful:

https://app.vagrantup.com/StefanScherer

They are always kept up to date with the latest versions, as he has the process fully automated through a Continuous Integration server.

[2018-10-22 23:51] yodurr commented on #22
That's pretty cool.  If one of you can write up what the addition to the docs on this project should look like I'll gladly try it out and accept the PR.

[2018-10-26 09:49] thejsa commented on #18
Working on this.

[2018-10-26 09:57] thejsa commented on #18
Done (#78)!

[2018-11-12 12:36] ddieppa opened #79 "dev_web_nodejs.ps1 stall at Installing visual studio workload"
was running the `dev_web_nodejs` script and got a few red messages, but the problem really happens when installing **Visual Studio workloads,** here is the screenshot:

![image](https://user-images.githubusercontent.com/10607192/48286603-32696380-e434-11e8-8d92-fefe05930d78.png)

the script stall there like for more than an hour, any clue? and then got this:

![image](https://user-images.githubuse

[2018-11-15 06:42] yodurr commented on #79
It's strange the title window says "Select Ubuntu 18.04" but that could just be an artifact of installing Ubuntu for WSL earlier in the script.

Any chance you went offline during the install?  Adding @crutkas who's more familiar with the visual studio installation.

[2018-11-15 15:36] crutkas commented on #79
can we get the logs?

we did just update VS to 15.9, wonder if that could have caused an issue with Choco?

[2018-11-20 15:31] ddieppa opened #80 "Hyper V didnt get installed when running dev_web.ps1"
[boxstarter.log](https://github.com/Microsoft/windows-dev-box-setup-scripts/files/2600387/boxstarter.log)
Was running `dev_web.ps1` script and didn't get Hyper V installed, here is what I found in the Boxstarter log;

[code]
Attached is the entire Boxstarter log file

[2018-11-21 13:09] ddieppa commented on #79
Here is the boxstarter log file, sorry for the delay
[boxstarter.log](https://github.com/Microsoft/windows-dev-box-setup-scripts/files/2604285/boxstarter.log)

[2018-11-21 17:06] AdmiringWorm commented on #79
If I may, let me chime in a little here after looking at the issue and the logs.

Lets start with the failure of the Visual Studio installation,
this is basically just the installation timing out
because Visual Studio (or in this case, the workload) uses too long.
By default, chocolatey have a default timeout of 2700 seconds (45 minutes).

I've seen myself when setting up my own computers
that thi

[2018-11-21 23:02] yodurr commented on #80
Hmm, I wonder since we have two possible ways of installing optional features if one is preferred over the other.

[2018-11-21 23:04] yodurr commented on #18
it looks like @thejsa has this almost ready to commit to master

[2018-11-22 00:31] bcurran3 commented on #32
I might be able to help.

Here are some scripts I made to install various distros via Chocolatey:

https://chocolatey.org/packages/wsl-ubuntu-1804
https://chocolatey.org/packages/wsl-ubuntu-1604
https://chocolatey.org/packages/wsl-debiangnulinux
https://chocolatey.org/packages/wsl-kalilinux
https://chocolatey.org/packages/wsl-opensuse
https://chocolatey.org/packages/wsl-archlinux
https://chocolate

[2018-11-22 00:33] bcurran3 commented on #23
See my comment at https://github.com/Microsoft/windows-dev-box-setup-scripts/issues/32

[2018-11-22 01:51] DarthSpock commented on #32
Is that from the official ArchLinux GitHub? (Yes it never came to fruition for Store, but the initial build out was done) Also should probably add the new kid on the block: Wlinux. From there, other popular distros such as Gentoo and ParrotSec need to be added based on user feedback on various forums (Twitter, GitHub, Reddit, etc.)

[2018-11-22 01:54] crutkas commented on #52
@bcurran3. A ton of our commands are not Chocolatey.

[2018-11-22 01:55] DarthSpock commented on #23
This was actually completed as asked already. All distros except Wlinux have an offline appx available. Wlinux is unable to perform this functionality and provide all the features that it offers unfortunately since you have to pay for it in the Store.

[2018-11-22 02:02] bcurran3 commented on #32
RE: ArchLinux - source is https://github.com/bilguun0203/WSL-ArchLinux/releases/download/v1.0.3.0/ArchLinux-Appx_1.0.3.0_x64.zip

Haven't heard of the others...but thanks (sarcastic) for adding to my TDL! :) :( :)

[2018-11-22 02:04] DarthSpock commented on #32
That's the page I'm referring to.

Sorry, wasn't saying those specific ones needed to be added but it would be helpful to allow more options to be available until they can go into the Store.

[2018-11-22 02:04] bcurran3 commented on #52
Completely understood. Just throwing it out there before anyone gets the wild idea of running choco.exe in multiple Start-Process jobs!

[2018-11-22 02:08] bcurran3 commented on #32
I'm a sucker for creating Chocolatey packages. Give me download locations and I'll most likely make them into Chocolatey packages in the near future. Packages for the people!

[2018-11-22 02:36] crutkas commented on #52
Great idea and thanks for the heads up. I didn’t know about choco not being able to do parallel (then again, parallel installing tends to not be a good idea)

[2018-11-22 06:35] bcurran3 commented on #23
I mention this because what I saw in the commit https://github.com/Microsoft/windows-dev-box-setup-scripts/pull/78/commits/969035c1a216b46f80eee1c0b870c01aca7bb827 for SLES and openSUSE won't work based on my experience.

openSUSE REF: https://github.com/bcurran3/ChocolateyPackages/blob/master/wsl-opensuse/tools/ChocolateyInstall.ps1
SLES REF: https://github.com/bcurran3/ChocolateyPackages/blob/ma

[2018-11-23 20:38] Foxboron commented on #32
@DarthSpock The images are not from Arch Linux, and nothing have changed since the original discussion.
https://lists.archlinux.org/pipermail/arch-dev-public/2018-January/029135.html

@bcurran3 It would be great if the description on the chocolatey package would state it's unofficial. Along with the "Sofware Author" section be amended so correct attribution is given to the software author, @bilguu

[2018-11-24 00:03] bcurran3 commented on #32
@Foxboron

I'm completely open for continuous improvement.

There is soooooooooooo much I had to subjectively choose in all parts of the nuspec information for the ArchLinux distro as well as all the other distros.  Pretty much every URL choice had 2 or 3 others that would have also "fit." It was a big time consuming PITA. As far as who the "author(s)" is/are... Do you feel it is right to only giv

[2018-11-24 09:05] Foxboron commented on #32
@bcurran3 `wsl-archlinux` is another distribution. Credits goes to the distribution author, not the original "creators". If anything the page implies the author of the software you are distributing comes from them, which is misleading at best.

[2018-11-26 00:18] yodurr commented on #32
I initially commented on PR #78 but the comment belongs here:

I agree having choco install commands for these make it easier to install. Thank you to @bcurran3 for taking initiative in making these. I'd like the distro owners to review your choco packages before we reference them in the scripts in this project.  I'll discuss with @tara-raj and we can start going through the list of distro owners.

[2018-11-26 00:52] bcurran3 commented on #32
(I'll cross post too.)

@yodurr I'm game for improvements. My scripts for the installs are not the best, but the best I could do. I welcome feedback/changes/PRs. :)

[2018-11-27 08:49] gep13 commented on #80
@ddieppa can you confirm what Operating System you are running this on?

[2018-12-01 01:31] scadu commented on #80
I reproduced this issue on Windows 10 Pro 10.0.17134.

When running
[code]
or
[code]

outside the Boxstarter it works correctly -- package is being found, feature installed.
The issue occurs when running with Boxstarter, so I'm a little bit puzzled but I suspect there's a loft a magic behind the scenes.

[2018-12-06 23:13] ddieppa commented on #80
sorry for the late response, I am using this:
 `Microsoft Windows Version 1809 (OS Build 17763.134)`

[2019-06-27 15:03] stefanlazarevic opened #84 "One click with Microsoft Edge Insider is not working."
Beside Google Chrome, one click installation can't be done on the latest Microsoft Edge Insider beta (based on chromium). This should be taken under consideration if it's going to replace current edge version.

[2019-07-29 12:02] kuranai commented on #80
Seems to work when you use `choco install -y Microsoft-Hyper-V-All -source windowsFeatures` in the HyperV.ps1 file.

[2019-09-09 14:37] wireddown commented on #30
Same for me :(

[2020-01-13 11:52] VijayS1 commented on #30
I have found a temporary solution by allowing the user to manually click the install button in the store app. see my [solution here](https://github.com/VijayS1/windows-dev-box-setup-scripts/blob/master/scripts/InstallStoreApps.ps1)

[2020-01-13 14:45] WSLUser commented on #32
Something that would help is `wsl - import` but we still need that edition check merged as some enterprises may not run a version of Windows that has the export/import functionality.

[2020-01-13 14:50] WSLUser opened #86 "Add Windows Terminal and OpenSSH"
On versions that support it, we should include options to install Windows Terminal via both Store and Chocolatey (in scenarios where Store access is prohibited but choco installs are not) automatically from the Box Starter kit. The Terminal should be available for all dev scripts as anybody doing any type of CLI will want to use it (even if they don't realize it at first). Additionally Win32-OpenS

[2020-01-13 14:53] WSLUser commented on #86
Paging @yodurr to ensure traction on this since it appears this project does not get much attention.

[2020-01-13 15:10] pauby commented on #86
A terminal is a very personal thing for most people and including one by default I don't feel is justified. I don't use Windows Terminal and won't be using it. I'm sure I'm not the only one.

I also feel the same about Open-SSH. Why is this a requirement for this?

My vote, if one is needed, is to not have either of these installed out of the box unless there is a requirement for them.

[2020-01-13 16:00] WSLUser commented on #86
It can be made optional but there are many users of both projects. Organizations are using SSH to start with, they will prefer using the win32 provided one vice installing Cygwin (the closest light-weight is git-bash, but use of git might be on a remote server (or WSL), not on the windows client. All that's requested is to automate the process a bit more for users who plan on installing anyways.

[2020-01-13 16:09] WSLUser commented on #86
I should also note in the case of WSL, Windows Terminal is still the best supporting terminal. Others that use ConPTY will be similar but the fact the developers that work on Console also created Windows Terminal provides insight and experience other terminals can't duplicate. Therefore I trust that Windows Terminal will continue getting better and better while other terminals may not optimize for

[2020-01-13 16:47] pauby commented on #86
There are a ton of users using ConeEmu, Console2, Consolez, Cmder and the many other terminals. I'm unsure why we're not adding all of those too?

Not in my head. And many others. But this isn't what I'm asking.

I'm not going to go into the which Terminal is better argument. As I said, this isn't what it's about. Adding this to a dev box for anybody is a simple Chocolatey command for this, ConEmu

[2020-01-13 18:10] WSLUser commented on #86
Ok, since there are choco packages for the other mentioned terminals, provide the user with a script that will auto-install their terminal of choice. It should have a prompt requesting which terminal the user would like to install, the user picks one, then the script will automatically install it.

[2020-01-13 18:12] WSLUser commented on #86
Is the title more suitable for you?

[2020-05-07 10:48] johnnyramrod opened #87 "Boxstarter error in Edge"
Microsoft docs tell me I have to use Edge to have the installer work (see here: https://docs.microsoft.com/en-us/learn/modules/introduction-to-windows10-dev/2-installing-tools-automatically).

However, when trying to launch the Full App install, it fails.
Error Summary in log says:

ERROR SUMMARY
	Below is a summary of the errors, details of these errors are listed later in the log.
	* Activation

[2020-06-30 20:43] ledgeruser2 commented on #30
You can absolutely download the .appx files and their dependencies from the Microsoft Store via PowerShell in a completely automated fashion, as long as the app is already installed on your computer. It's not because you need the package contents, it's because you need the app info to force the Store to re-download the .appx files and keep them permanently.
Installing a new app from PowerShell fro

[2020-06-30 22:49] WSLUser commented on #30
Winget would most likely be the best way forward with this

[2020-06-30 23:26] bitcrazed commented on #86
The whole point of Chocolatey/Boxstarter is that __YOU__ can declare whatever tools __YOU__ want to install in __YOUR__ script files. You should declare whatever terminal, editors/IDEs, SCM tools, etc. that you want for your config/setup.

The point of these scripts is to give you a starting point for an automated machine setup scripts which you can customize to your own needs.

Notice the word "a

[2020-07-01 17:34] manhinhang commented on #30
I created CLI tools for download app from store but it required start `Appium` server locally to automate stuff.
https://github.com/manhinhang/ms-store-install-cli

[2020-07-01 18:58] bitcrazed commented on #30
@manhinhang Appreciate your effort here, but driving the Microsoft Store via UI automation is likely to be very error prone and fragile.

As @WSLUser and others have stated and as I can confirm, installation via winget will be the preferred approach. Appreciate everyone's patience, but it'll be worth the wait ;)

[2020-07-01 20:56] Floccinaucinihilipilification11 commented on #30
@bitcrazed You mean, about as error-prone as your average piece of Microsoft software? 🤣🤣🤣

[2020-07-01 21:31] bitcrazed commented on #30
@Floccinaucinihilipilification11 No, even worse than that!
<img src="https://media.giphy.com/media/5MUnOfrQwFcdO/giphy.gif"/>

[2020-07-02 09:36] ASafwatAli opened #88 "adding parameters for choco packages causes error"
The following commands cause errors due to being obsolete:

- `choco install -y git --package-parameters="'/GitAndUnixToolsOnPath /WindowsTerminal'"`

- `choco install -y Microsoft-Hyper-V-All --source="'windowsFeatures'"`

- `choco install -y visualstudio2017community --package-parameters="'--add Microsoft.VisualStudio.Component.Git'"`

- `choco install -y Microsoft-Windows-Subsystem-Linux --sour

[2020-07-03 09:29] gep13 commented on #88
@ASafwatAli can you provide the log for what you are seeing?

Nothing should have changed from a Chocolatey stand point with regard to the options that you can pass to the install command.

[2020-07-03 14:53] Floccinaucinihilipilification11 commented on #30
Searching the MS Store from PowerShell, First Beta

https://dev.to/ledgeruser2/search-microsoft-store-from-powershell-2bjj

[2020-07-04 12:18] ASafwatAli commented on #88
Sure I’ll add the logs shortly. I can submit a PR with the fixes that worked for me.

[2020-07-04 15:50] ASafwatAli commented on #88
@gep13 I've extracted some of the logs, but they're pretty big and contain personal information.
This is the log for `choco install -y git --package-parameters="'/GitAndUnixToolsOnPath /WindowsTerminal'"`. Again Those errors disappeared as soon as I fixed the command parameters as mentioned.

I've also created a one click link with the mentioned 4 commands to test it out
[http://boxstarter.org/pac

[2020-07-06 19:17] WSLUser commented on #86
This was why I wanted to stick with MS only software. It's an optional script that could be run for anyone wanting those products. Winget can be used for other terminal applications.

[2020-08-07 20:36] JensMertelmeyer commented on #87
Same error message for me. I never even heard of .application files and I have no idea what is actually happening.

In case it helps, here is the stack
[code]

[2020-12-30 17:31] TaffarelJr commented on #87
A `.application` file is a launcher for a ClickOnce application. The browser downloads it like a normal file; but then if the browser recognizes it (pretty much only IE and Edge, since it's a Microsoft technology), then it will follow the instructions within to download the rest of the application files from the same host, and execute them.

However it seems the feature is disabled by default in t

[2020-12-30 17:34] TaffarelJr commented on #84
Got it to work in Edge. Documented in #87.

[2021-03-21 05:37] kousu opened #90 "Deploy WSL with a regular user"
It would be nice if, instead of

https://github.com/microsoft/windows-dev-box-setup-scripts/blob/d488050/README.md#how-to-run-the-scripts

there was a way to auto-install with a regular user. I've opened an issue about this 'upstream': https://github.com/microsoft/WSL-DistroLauncher/issues/90, but there's a workaround that maybe you could apply temporarily: https://github.com/microsoft/WSL/issues/

[2021-05-02 09:50] CraigAT opened #94 "Unintended Uninstall of Windows Apps"
I found this script and thought it would be the ideal way to set up my computer with Visual Studio to do some coding.  It was not clear by running the full script a lot of Windows 10 apps would be uninstalled permanently (e.g Minecraft, Xbox app).  Is there as simple script to reinstall these or a way to use this script to reinstall them?

[2021-07-20 09:16] wulei-student opened #95 "can not install Windows Template Studio"
[code]
I read the WindowsTemplateStudio.ps1 script ,
at line 14
`$wtsFileUrl = $wtsResults.versions[0].files | where {$_.assetType -eq "Microsoft.Templates.2017.vsix"};`
,but there is no file named **Microsoft.Templates.2017.vsix** on the
website https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery.
please give a valid download address
thanks

[2021-08-15 18:10] ryanpivm opened #96 "Installation on infinite loop"
Ran "Full Desktop App" script with auto login and it keeps rebooting while rerunning the script over and over again.  Had to Ctrl-C to interrupt whilst knowing the installation is not complete.

[2021-09-12 19:05] p1-ra commented on #94
I agree, I fall to that script from Microsoft documentation, I thought it was safe and only did what it said, install "Full Desktop App" env.
This is a damn **** script (sorry), but I just saw it uninstalling a lot of my app and got a notification about **UAC trying to be disabled**.

![image](https://user-images.githubusercontent.com/18233250/132999613-eb6a1fb7-2b7f-49e9-88bd-c5b32861621e.png)

T

[2022-04-25 21:30] MacBookroot24 opened #98 "<!-- INSERT ACTUAL TEMPLATE HERE -->"

[2022-05-05 09:21] gep13 opened #99 "Change to boxstarter.org infrastructure"
I just wanted to give a heads up that we, @chocolatey, have just made some changes to the Boxstarter website, in terms of where it is hosted.

We have run some tests, and from what we can see, everything is working as it was previously, but if anyone here does notice any problems, please feel free to reach out so that we can address them.

@crutkas and @yodurr is there anyone else that we should p

[2022-05-09 21:16] crutkas commented on #99
Thanks for the heads up!

[2022-05-09 21:16] #99 closed

[2022-06-06 11:48] rifaterdemsahin opened #100 "Can we have one for a video workstation"
I created this one for it
https://github.com/rifaterdemsahin/workstation/blob/master/programs/chocoworkstationvideo.ps1

[2022-08-30 09:37] microsoft-github-policy-service[bot] opened #102 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-09-08 16:38] #102 closed

[2022-11-12 03:58] NerdyGriffin opened #103 "Install-WindowsUpdate fails at end of scripts"
Running any of the setup scripts on a fresh install of Windows 11, at the end of the script I always see the following error message:
`Install-WindowsUpdate : A parameter cannot be found that matches parameter name 'accepteula'.`

My guess is that the parameters of the `Install-WindowsUpdate` command may have changed in some recent update, and so the boxstarter script need to be updated to reflect